/*CSS pour TabPane*/
.tab-header-background{
    -fx-background-color:white;
}
.tab-pane .tab-header-area .tab-header-background{
    -fx-background-color:whitesmoke;
    -fx-opacity: 0;
    -fx-border-radius: 5px;
}
.tab-pane{
    -fx-tab-min-width: 90px;
    -fx-background-color:whitesmoke;
}
.tab{
    -fx-background-insets: 0 1 0 1,0,0;
    -fx-background-color:whitesmoke;
}
.tab-pane .tab{
    -fx-background-color:#2E75B6;
    -fx-border-radius: 15px;
}
.tab-pane .tab:selected {
    -fx-background-color:#2E75B6;
    -fx-border-radius: 15px;
}
.tab .tab-label{
    -fx-alignment: CENTER;
    -fx-text-fill:black;
    -fx-font-size: 12px;
    -fx-font-weight: normal;
}
.tab:selected .tab-label{
    -fx-alignment: CENTER;
    -fx-text-fill:White;
    -fx-background-color:#2E75B6;
    -fx-font-weight: bold;
}
.tab-pane:top *.tab-header-area{
    -fx-background-insets: 0, 0 0 1 0;
    }
.jfx-tab-pane .tab-selected-line { -fx-background-color:#e6e600; }